<!-- Patch Release blog posts should be located under source/releases/posts/ -->

---
title: "GitLab Patch Release: <%= version %>"
categories: releases
author: ADD_YOUR_FULL_NAME
author_gitlab: <%= ENV.fetch('USER', 'GITLAB_USERNAME') %>
author_twitter: TWITTER_USERNAME # please use gitlab if you don't want to use your own
description: "GitLab releases <%= version %>"
tags: patch releases, releases
---

<!-- For detailed instructions on how to complete this, please see https://gitlab.com/gitlab-org/release/docs/blob/master/general/patch/blog-post.md -->

Today we are releasing version <%= version %> for GitLab Community Edition and Enterprise Edition.

This version resolves a number of regressions and bugs in
[this month's <%= version.sub(/\.\d+$/, '') %> release](/releases/YYYY/MM/DD/gitlab-x-y-released/) and
prior versions.

## GitLab Community Edition and Enterprise Edition

Available in GitLab Core, Starter, Premium, and Ultimate:

- [Description](GitLab MR LINK)
- [Description](GitLab MR LINK)

Available in GitLab Starter, Premium, and Ultimate:

- [Description](GitLab MR LINK)
- [Description](GitLab MR LINK)

Available in GitLab Premium and Ultimate:

- [Description](GitLab MR LINK)
- [Description](GitLab MR LINK)

Available in GitLab Ultimate:

- [Description](GitLab MR LINK)
- [Description](GitLab MR LINK)

## Upgrade barometer

This version does not include any new migrations, and should not require any
downtime.

Please be aware that by default the Omnibus packages will stop, run migrations,
and start again, no matter how “big” or “small” the upgrade is. This behavior
can be changed by adding a [`/etc/gitlab/skip-auto-reconfigure`](http://docs.gitlab.com/omnibus/update/README.html) file,
which is only used for [updates](https://docs.gitlab.com/omnibus/update/README.html).

## Updating

To update, check out our [update page](/update/).

## GitLab subscriptions

Access to GitLab Starter, Premium, and Ultimate features is granted by a paid [subscription](/pricing/).

Alternatively, [sign up for GitLab.com](https://gitlab.com/users/sign_in)
to use GitLab's own infrastructure.
